body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.onboarding-container {
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.onboarding-image img {
    width: 100%;
    height: auto;
    border-radius: 0 0 0 25%;
}

.onboarding-page {
    display: none;
}

.onboarding-page.active {
    display: block;
}

.navigation-dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #717171;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
#skipButton{
   float: left;
}
#nextButton{
    float: right;
}